@font-face {
    font-family: Bold;
    src: url('../public/Gotham.ttf');
}

@font-face {
    font-family: Thin;
    src: url('../public/Gotham-Thin.otf');
}

@font-face {
    font-family: Light;
    src: url('../public/Gotham-Light.otf');
}

body {
    font-family: Thin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

p {
    font-family: Light !important
}

.container {
    background-color: #32AE5F;
    max-width: 1250px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.43);
    padding: 2rem 1rem;
}

.header {
    color: white;
    padding: 1rem 0;
    // height: 15rem;

    .logo {
        overflow: hidden;
        padding: 1rem;
        margin-bottom: 3rem;

        @media (max-width: 600px) {
            display: flex;
            justify-content: center;
        }

        .logoPic {
            width: 10rem;
        }
    }

    .titleBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;

        h1 {
            font-family: Thin;
            font-size: 3rem;
            letter-spacing: -1.2px;
            margin: 0;

            @media (max-width: 600px) {
                font-size: 2.2rem;
            }
        }

        p {
            font-size: 1.5rem;
            font-family: thin;
        }
    }

}