@font-face {
    font-family: Bold;
    src: url('../public/Gotham.ttf');
}

@font-face {
    font-family: Thin;
    src: url('../public/Gotham-Thin.otf');
}

@font-face {
    font-family: Light;
    src: url('../public/Gotham-Light.otf');
}

body {
    font-family: Thin, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

p {
    font-family: Light !important
}

input,
button,
select {
    color: #4B494B;
    outline: none;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    border: none;
    border: 1px solid rgb(202, 202, 202);
    padding: 1.2rem 1rem;
    font-size: large;
    margin: 0 0 1.6rem 0 !important;
    font-family: Thin !important // @media (max-width: 700px) {
}

select {
    margin: 2rem 0 !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../public/arrow.svg'),
        linear-gradient(to bottom, rgb(237, 237, 237), rgb(237, 237, 237));
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

}

::placeholder {
    opacity: 0.3;
}

.submitBtn {
    background-color: #38A9E0;
    border: none;
    color: white;
    font-family: Light !important;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 3rem !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.128);

    &:hover {
        background-color: #42b5ef;
        transform: translateY(-3px);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.114);

    }

}

label {
    display: block;
    margin: 0.7rem 0 !important;
    text-align: left;
}

.container {
    background-color: white;
    max-width: 1250px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.094);
    //  padding: 2rem 1rem;
}

.header {
    background-color: #32AE5F;
    color: white;
    padding: 1rem 0;
    min-height: 25rem;

    @media (max-width: 700px) {
        min-height: 20rem;
    }

    .logo {
        overflow: hidden;
        padding: 2rem 3rem;
        margin-bottom: 3rem;

        @media (max-width: 700px) {
            display: flex;
            justify-content: center;
        }

        .logoPic {
            width: 12rem;
        }
    }

    .titleBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        padding: 2rem;

        h1 {
            font-family: Thin;
            font-size: 3rem;
            letter-spacing: -1.2px;
            margin: 0;

            @media (max-width: 700px) {
                font-size: 2.2rem;
            }
        }

        p {
            font-size: 1.5rem;
            font-family: thin;
        }
    }

}

.main {

    margin: 0 0 5rem 0;
    padding: 2rem;
    color: #4B494B;
    display: flex;
    justify-content: center;
    text-align: center;

    .auth {
        width: 100%;

        .error {
            color: red;
            margin: 2.4rem 0;
            font-size: 1.2rem;
            font-weight: bolder;

        }

        ;

        form {
            //  padding: 2rem;
            width: 35rem;
            margin: 0 auto;

            @media (max-width: 700px) {
                width: 100%;
            }

        }
    }
}

.footer {
    color: white;
    border-top: 1px solid #d6d6d6;
    // border: 10px solid black;
    // border-color: brown;
    padding: 1rem 0;
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
        min-height: 20rem;
    }

    .logo {
        overflow: hidden;
        padding: 2rem 3rem;

        @media (max-width: 700px) {
            display: flex;
            justify-content: center;
        }

        .logoPic {
            width: 11rem;
        }
    }

    p {
        padding-right: 3rem;
        color: gray;
        font-family: Thin !important;
    }
}

.app {
    margin: 3rem 0;

    .btnBox {

        margin: 2rem auto;
        display: flex;
        overflow: hidden;
        justify-content: center;

        .ios,
        .google {
            height: 4rem;
            margin: 2rem 0.5rem;
        }

    }

}